# configs/model_config.yaml

# 1. Directories Configuration
directories:
  model_save_dir: "artifacts/models"
  metrics_dir: "artifacts/metrics"
  plots_dir: "artifacts/plots"

# 2. Model Architecture & Hyperparameters
model:
  name: "churn_model"
  type: "xgboost"
  objective: "binary:logistic"
  eval_metrics:
    - "auc"
    - "aucpr"
    - "logloss"

  evaluation:       # Evaluation settings after training
    threshold: 0.872 # Threshold for classification
    report_metrics:
      - "accuracy"
      - "precision"
      - "recall"
      - "f1"
      - "confusion_matrix"

  # Hardware / System Settings
  system:
    tree_method: "hist"         # hist | approx | gpu_hist
    device: "cpu"              # auto | cpu | gpu
    n_jobs: -1                  # Used for final training

  # ====== Main Hyperparameters ======
  params:
    max_depth: 6
    learning_rate: 0.001
    n_estimators: 1000
    subsample: 0.72
    colsample_bytree: 0.5
    colsample_bynode: 0.1

    min_child_weight: 5
    gamma: 0.25
    lambda: 1.0
    alpha: 0.0

    scale_pos_weight: "auto" # To handle class imbalance

    max_delta_step: 0
    grow_policy: "depthwise"
    importance_type: "gain"

# 3. Training Strategy (Tuning & Validation)
tuning:
  enabled: true
  strategy: "bayesian"
  max_trials: 50              # Reduced slightly for faster debugging --> You need to remember
  cv_folds: 5
  early_stop_rounds: 5
  metric_to_optimize: "auc"
  direction: "maximize"

  search_space:
    max_depth:
      type: "int"
      low: 3
      high: 8
    learning_rate:
      type: "loguniform"
      low: 0.01
      high: 0.2
    subsample:
      type: "uniform"
      low: 0.6
      high: 1.0
    colsample_bytree:
      type: "uniform"
      low: 0.6
      high: 1.0
    min_child_weight:
      type: "int"
      low: 1
      high: 10
    gamma:
      type: "uniform"
      low: 0.0
      high: 5.0
    lambda:
      type: "loguniform"
      low: 0.1
      high: 10.0
    alpha:
      type: "loguniform"
      low: 0.00001    # FIXED: Cannot be 0.0 for loguniform distribution
      high: 10.0

# 4. Serialization
serialization:
  format: "xgboost_native"
  save_best_only: true
  filename_pattern: "churn_v1.bin"

# 5. Explainability
reporting:
  feature_importance:
    enabled: true
    top_k: 10
    save_plot: true
    importance_type: "gain"

  shap:
    enabled: true
    background_sample_size: 1000
    max_display_features: 20
    save_summary_plot: true